# ✅ 1. Introduction to Pandas

## What is Pandas?
          – A Python library for data manipulation and data analysis.
          – Essential for cleaning and preprocessing data in  Machine Learning

In [ ]:
pip install pandas

# 2. Data Structures in Pandas

### Series (One-Dimensional Data)
    A Series is aone-dimensional array-like object that can hold any data type.

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([10, 20, 30, 40])
print(s)

### DataFrame (Two-Dimensional Data)
     A 2D labeled data structure with columns of potentially different types. Similar to an Excel spreadsheet or a relational database table.

In [ ]:
data = {'Name': ['Ali', 'Sara'], 'Age': [22, 24]}
df = pd.DataFrame(data)
print(df)

In [ ]:
import seaborn as sns 
data = sns.load_dataset('titanic')
data.to_csv('titanic.csv', index=False)

### Load the Titanic Dataset

In [ ]:
df = pd.read_csv('titanic.csv')
# df = pd.read_excel('file.xlsx')

In [ ]:
df.head()

In [ ]:
df.tail()

### Explore the Data

In [ ]:
# Shape (Rows and Columns)
df.shape  # Output: (891, 12)

In [ ]:
# Data Types and Null Values
df.info()

In [ ]:
# Summary Statistics
df.describe()

In [ ]:
df.describe(include='all')

### 4. Access Data

In [ ]:
# Access a Single Column
df['age']

In [ ]:
# Access Multiple Columns
df[['sex', 'age', 'fare']]

In [ ]:
# Access Rows by Label (loc)
df.loc[0] # First row

In [ ]:
# Access Rows by Position (iloc)
df.iloc[0:5] # First 5 rows

 ### Data Cleaning

In [ ]:
# Check for Missing Values
print(df.isnull().sum())

In [ ]:
# Fill Missing Values (Age with Mean)
df['age'].fillna(df['age'].mean(), inplace=True)
df['age'].head()

In [ ]:
# Drop Rows with Missing Values (Embarked Column)
df.dropna(subset=['embarked'], inplace=True)
df.isnull().sum()

In [ ]:
# Remove Duplicate Rows
df.drop_duplicates(inplace=True)
print(df.shape)

In [ ]:
# Change Data Type (Convert Age to Integer)
df['age'] = df['age'].astype(int)
print(df.info())

### Filtering and Sorting

In [ ]:
# Filter Passengers Older than 30
adults = df[df['age'] > 30]
adults.head()

In [ ]:
# Filter Passengers Who Survived
survivors = df[df['survived'] == 1]
survivors.head()

In [ ]:
# Sort by Fare (Descending Order)
sorted_df = df.sort_values('fare', ascending=False)
sorted_df.head()

### Save Cleaned Data

In [ ]:
# Save to CSV
df.to_csv('cleaned_titanic.csv', index=False)

In [ ]:
df.to_excel('output.xlsx', index=False)