### Class 2

1. Input and Output
2. Variables
3. Data Types
4. Operators

 ##### Input and Output:
        >Using input() to take user input
        >Printing output using print() and formatted strings
Purpose of f-strings:

F-strings allow you to include variables, expressions, or calculations directly inside a string by prefixing the string with f or F and enclosing the expressions in curly braces {}.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(f"The sum of {num1} and {num2} is {num1 + num2}.")

#### Variables:-
 Definition: A variable is a name that is used to store data in memory. It acts as a container for data values.
 
 Purpose: Variables help us to use and manipulate data throughout a program.

In [ ]:
x = 10
name = "Ali"
print(x)  # Output: 10
print(name)  # Output: Ali

 Assigning Values to Variables 
 
 Syntax:
 
  variable_name = value 
  
  The = symbol is used for assignment.

In [ ]:
age = 25
price = 99.99
greeting = "Hello, World!"
is_active = True

### Naming Rules for Variables

Variable names must:

 >Start with a letter (A-Z, a-z) or an underscore _.

 >Follow with letters, digits (0-9), or underscores.

 >Be case-sensitive (myVariable and MyVariable are different).

 Examples of Valid Variable Names:

 >age, _name, total_price, isStudent
 
 Examples of Invalid Variable Names:

>2name (cannot start with a digit)

>my-name (hyphens are not allowed)

>class (reserved keyword in Python)

 ### Example

In [ ]:
name =
age =
is_student =

In [ ]:
print(f"My name is {name}, I am {age} years old, and it is {is_student} that I am a student.")

### 2.Data Types:-

       In Python, data types define the kind of values a variable can hold. Below are the most common data types.
        >Numeric Types
         >int (Integer):
            Whole numbers (positive or negative) without a decimal point.
            Example:

In [ ]:
age = 25  # Integer
print(type(age))  # Output: <class 'int'>

##### float (Floating Point):
         Numbers with a decimal point.
         Example:

In [ ]:
price = 99.99  # Floating-point number
print(type(price))  # Output: <class 'float'>

##### Text Type:
    >str (String)
      A sequence of characters enclosed in single, double, or triple quotes.
      Example:

In [ ]:
name = "Ali"  # String
print(type(name))  # Output: <class 'str'>

##### Boolean Type:
      bool (Boolean)
       .Represents True or False values.
       .Often used for conditions and comparisons.
       .Example:

In [ ]:
is_active = True  # Boolean
print(ty(is_active))  # Output: <class 'bool'>

##### Type Checking with type():
       The type() function is used to check the data type of a variable.

In [ ]:
num = 10
text = "Hello"
flag = False

print(type(num))  # Output: <class 'int'>
print(type(text))  # Output: <class 'str'>
print(type(flag))  # Output: <class 'bool'>

##### Type Conversion
        Python allows converting values from one data type to another using functions like int(), float(), and str().

       1.Convert to Integer (int())
       2.Convert to Float (float())
       3.Convert to String (str())

In [ ]:
# Converting a string to an integer
num_str = "50"
num = int(num_str)
print(num + 10)

In [ ]:
# Converting an integer to a float
num = 25
num_float = float(num)
print(num_float)

In [ ]:
# Converting an integer to a string
num = 100
num_str = str(num)
print("The number is " + num_str)

# Operators in Python

## 1. Arithmetic Operators
Used for basic mathematical operations:

| Operator | Description           | Example          |
|----------|-----------------------|------------------|
| `+`      | Addition              | `5 + 3 = 8`      |
| `-`      | Subtraction           | `5 - 3 = 2`      |
| `*`      | Multiplication        | `5 * 3 = 15`     |
| `/`      | Division              | `5 / 3 = 1.6667` |
| `%`      | Modulus (remainder)   | `5 % 3 = 2`      |
| `**`     | Exponentiation        | `5 ** 3 = 125`   |
| `//`     | Floor Division        | `5 // 3 = 1`     |

---

## 2. Comparison Operators
Used to compare values. The result is `True` or `False`:

| Operator | Description              | Example         |
|----------|--------------------------|-----------------|
| `==`     | Equal to                 | `5 == 3 → False`|
| `!=`     | Not equal to             | `5 != 3 → True` |
| `>`      | Greater than             | `5 > 3 → True`  |
| `<`      | Less than                | `5 < 3 → False` |
| `>=`     | Greater than or equal to | `5 >= 3 → True` |
| `<=`     | Less than or equal to    | `5 <= 3 → False`|

---

## 3. Logical Operators
Used to combine conditional statements:

| Operator | Description                     | Example                   |
|----------|---------------------------------|---------------------------|
| `and`    | Returns `True` if both are true | `(5 > 3) and (3 > 1)` → `True` |
| `or`     | Returns `True` if one is true   | `(5 > 3) or (3 < 1)` → `True`  |
| `not`    | Negates the condition           | `not(5 > 3)` → `False`   |

---

## 4. Assignment Operators
Used to assign values to variables:

| Operator | Description                 | Example          |
|----------|-----------------------------|------------------|
| `=`      | Assign                     | `x = 5`          |
| `+=`     | Add and assign             | `x += 3` → `x = x + 3` |
| `-=`     | Subtract and assign        | `x -= 3` → `x = x - 3` |
| `*=`     | Multiply and assign        | `x *= 3` → `x = x * 3` |
| `/=`     | Divide and assign          | `x /= 3` → `x = x / 3` |
| `%=`     | Modulus and assign         | `x %= 3` → `x = x % 3` |
| `**=`    | Exponent and assign        | `x **= 3` → `x = x ** 3` |
| `//=`    | Floor division and assign  | `x //= 3` → `x = x // 3` |

---

## 5. Bitwise Operators
Used for bit-level operations:

| Operator | Description              | Example         |
|----------|--------------------------|-----------------|
| `&`      | Bitwise AND              | `5 & 3 → 1`     |
| `|`      | Bitwise OR               | `5 | 3 → 7`     |
| `^`      | Bitwise XOR              | `5 ^ 3 → 6`     |
| `~`      | Bitwise NOT              | `~5 → -6`       |
| `<<`     | Left shift               | `5 << 1 → 10`   |
| `>>`     | Right shift              | `5 >> 1 → 2`    |

---

## 6. Membership Operators
Used to test membership in sequences:

| Operator | Description                  | Example                     |
|----------|------------------------------|-----------------------------|
| `in`     | True if value is in sequence | `'a' in 'apple' → True`     |
| `not in` | True if value is not in seq  | `'z' not in 'apple' → True`|

---

## 7. Identity Operators
Used to compare memory locations:

| Operator | Description                      | Example                    |
|----------|----------------------------------|----------------------------|
| `is`     | True if same object              | `x is y`                  |
| `is not` | True if not same object          | `x is not y`              |

Practice Examples
Type Checking:

Write a program to create variables of each type (int, float, str, bool) and use type() to display their data types.

Type Conversion:

Take two numbers as input (both strings), convert them to integers, and display their sum.
Convert a floating-point number to a string and print it in a sentence.

Q1. Swapping Values Without a Third Variable

In [ ]:
#code

#### Assignment 1: 
    Create and Print Variables:
    Create variables of the following types and assign appropriate values:
    Integer (int),Float (float),String (str),Boolean (bool)
    Print the value and data type of each variable using type().

In [ ]:
#code

#### Assignment 2:
      Dynamic Typing in Python:
      >Assign an integer value to a variable.
      >Reassign a string value to the same variable.
      >Print the variable's value and type before and after reassignment.

In [ ]:
#code

#### Assignment 3:
    1.Operators:
     Write a program that performs the following operations on two variables, a = 15 and b = 5:
     Addition
     Subtraction
     Multiplication
     Division
     Modulus
     Floor Division
     Exponentiation
     Print the results of each operation.
    2.Relational Operators :
    Create two variables, x = 10 and y = 20.
    Use relational operators (>, <, >=, <=, ==, !=) to compare the values of x and y.
    Print the result of each comparison.

In [ ]:
#code